<h1 class="display-5 mb-4">Login</h1>

<%= form_with :url => "/sessions" do |form| %>
  <p>
    <%= form.label "email" %>
    <%= form.text_field "email", :class => "form-control" %>
  </p>
  <p>
    <%= form.label "password" %>
    <%= form.password_field "password", :class => "form-control" %>
  </p>

  <p>
    <%= form.submit "Login", :class => "btn btn-success" %>
  </p>
<% end %>