<h1 class="display-5 mb-4"><%= @place["name"] %></h1>

<% if @current_user %>
  
  <p>
    <a class= "btn btn-primary btn-md mt-2" href="/posts/new?place_id=<%= @place["id"] %>">Add a New Post</a>
  </p>

  <h2 class="display-7 mb-4">My Posts</h2>
  <div class="row">
    <% for post in @posts %>
      <div class="col-md-3">
        <h3 class="fs-3"><%= post["title"] %></h3>
        <h4 class="fs-6 fw-light"><%= post["posted_on"] %></h4>
        <% if post.uploaded_image.attached? %>
          <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
        <% else %>
          <img src="<%= post["image"] %>" class="img-fluid">
        <% end %>
        <p><%= post["description"] %></p>
      </div>
    <% end %>
  </div>


<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>